
.parentmale-container{
    display: flex;
    flex-direction:row;
}
.boy-child-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1000px;
    width: 200px;
    background-color: black;
    color: white;
}
.inner:hover{
    background-color:red;
    opacity:100;

}
.inner{
    padding: 10px;
}
.girl-child-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1000px;
  height: 150px;
  justify-content: flex-start;
  margin-right: 0px;
  background-color: brown;
  margin: auto with flex;
}
.img-1{
    width:333px;
    height:150px;
}
.img-2{
    width:333px;
    height:150px;
}
.img-3{
    width:333px;
    height:150px;
}

 
