
.parentmale-container{
    display: flex;
    flex-direction:row;
}
.boy-child-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1000px;
    width: 200px;
    background-color: black;
    color: white;
}
.boy-child-container-endpart{
    display: flex;
   height: 700px;
   /* background-color: aliceblue; */
  flex-direction: row;
  align-items: flex-end;
  padding: 5px;
}
.inner:hover{
    background-color:red;
    opacity:100;

}
.inner{
    padding: 10px;
}
.girl-child-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1000px;
  height: 150px;
  justify-content: flex-start;
  margin: 0px;
}
.img-1{
    width:333px;
    height:150px;
}
.img-2{
    width:333px;
    height:150px;
}
.img-3{
    width:333px;
    height:150px;
}
.second-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    width: 1000px;
}
.second-header-link{
display: flex;
justify-content: flex-end;

width: 837px;
height: 70px;
align-items: center;

}
.rating-section{
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 0px;
    background-color: red;
    height: 70px;
    width: 50px;
}
.link{
    color:red;
    margin: 30px;
}
.second-header-rating-number{
    margin: 0px;
    color: white;
}
.second-header-rating-votes{
    margin: 0px;
    color: white;
    
}
.about-hotel{
   margin:30px;
    background-color: white;
    width:500px;
    height:700px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid wheat;

}

.flex-container{
    display: flex;
    height=500px;
    /* background-color: brown; */
    flex-direction: row;
    justify-content: space-around;
}
.footer-part{
    display: flex;
    height: 50px;
    /* background-color: aliceblue; */
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.user1234{
    width: 30px;
    border-radius: 50%;
   
}
.right-container-1{
    /* background-color: blueviolet; */
    width: 200px;
    height: 300px;
    margin: 30px 10px 15px 15px;
    padding: 15px;
    border: 2px solid wheat;
}
.right-container-1-section{
    display: flex;
    height: 100px;
    width: 200px;
    /* background-color:brown; */
    flex-direction: row;
    align-items: center;
}
.right-container-1-section-name{
    display: flex;
    flex-direction: column;
    margin: 0px;
 /* background-color: brown; */
 padding: 10px;
}
.user5{
    height: 30px;
    border-radius: 50%;
}
.right-rating{
    color: red;
}