.parentmale-container{
    display: flex;
    flex-direction:row;
}
.boy-child-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1000px;
    width: 200px;
    background-color: black;
    color: white;
}
.boy-child-container-endpart{
    display: flex;
   height: 700px;
   /* background-color: aliceblue; */
  flex-direction: row;
  align-items: flex-end;
  padding: 5px;
}
.inner:hover{
    background-color:darkred;
    opacity:100;

}
.inner{
    padding: 10px;
}
.girl-child-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1000px;
  height: 150px;
  justify-content: flex-start;
  margin: 0px;
}
.img-1{
    width:333px;
    height:150px;
}
.img-2{
    width:333px;
    height:150px;
}
.img-3{
    width:333px;
    height:150px;
}
.second-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    width: 1000px;
}
.second-header-link{
display: flex;
justify-content: flex-end;

width: 837px;
height: 70px;
align-items: center;

}
.rating-section{
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 0px;
    background-color:darkred;
    height: 70px;
    width: 50px;
}
.link{
    color:darkred;
    margin: 30px;
}
.second-header-rating-number{
    margin: 0px;
    color: white;
}
.second-header-rating-votes{
    margin: 0px;
    color: white;
    
}
.about-hotel{
   margin:30px;
    background-color: white;
    width:500px;
    height:700px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid aliceblue;

}

.flex-container{
    display: flex;
    height=500px;
    /* background-color: brown; */
    flex-direction: row;
    justify-content: space-around;
}
.footer-part{
    display: flex;
    height: 50px;
    /* background-color: aliceblue; */
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.user1234{
    width: 30px;
    border-radius: 50%;
   
}

.right-container-1{
     /* background-color: blueviolet;  */
    width: 130px;
    height: 280px;
    margin: 30px 10px 15px 15px;
    padding: 5px;
    border: 2px solid aliceblue;
}
.right-container-1-section{
    display: flex;
    height: 100px;
    width: 100px;
    /* background-color:brown;  */
    flex-direction: row;
    align-items: center;
}
.right-container-1-section-name{
    display: flex;
    flex-direction: column;
    margin: 0px;
 /* background-color: brown;  */
 padding: 10px;
}
.user5{
    height: 30px;
    border-radius: 50%;
}
.right-rating{
    color: darkred;
}  
.right-container-2{
    /* background-color: aqua; */
    width: 130px;
    height: 280px;
    margin: 30px 10px 15px 15px;
    padding: 5px;
    border: 2px solid aliceblue;
}
.right-container-2-section{
    display: flex;
    height: 100px;
    width: 100px;
    /* background-color:brown;  */
    flex-direction: row;
    align-items: center;
}
.right-container-1-section-name{
    display: flex;
    flex-direction: column;
    margin: 0px;
 /* background-color: brown;  */
 padding: 10px;
}
.user6{
    height: 30px;
    border-radius: 50%;
}
.left-rating{
    color: darkred;
}  
.show-all{
    /* background-color: cadetblue; */
    margin: 40px;
    padding: 5px;
}
.show{
    color:darkred;
    
}
.booking-title{
    height: 200px;
    width: 150px;
    /* background-color: aqua; */
    padding: 30px 5px 0px 0px;
    margin:30px 0px 0px 10px;
}
.booking-button{
    width: 150px;
    /* background-color: brown; */
    padding: 0px 0px 0px 50px;
}
#book{
    color: white;
    background-color:darkred;
    padding: 20px;
    margin: 10px 30px 30px 30px;
}
#book:hover{
    background-color:black;
    opacity: 100;
}